/*******************************************
                 CONFIGURAÇÕES GERAIS
*******************************************/

.cor-da-marca{
    background-color: #dc3545;
    color: white;
}

/*******************************************
                 NAVBAR
*******************************************/



/*******************************************
                 HERO
*******************************************/

.nm-hamburgueria{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
}

.dsc-hamburgueria{
    text-align: center;
    color: white;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/banner_hamburgueria.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#apr-hamburgueria{
    height: 100vh;
    width: auto;
}

#apr-hamburgueria .hero{
    height: 70vh;
}


/*******************************************
                 CARDÁPIO
*******************************************/

.tlt-cardapio{
    text-align: center;
    color: white;
    background-color: #dc3545;
    font-weight: 500;
    font-size: 2.75em;
    margin-bottom: 3%;
    border-radius: 5px;
}

/*******************************************
                 CARDS SANDUÍCHE
*******************************************/

.tlt-sanduiche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #dc3545;
    font-size: 2.5rem;
    padding: 0.5%;
    height: 2em;
    width: auto;
}

.card-sanduiche{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    padding: 3%;
    border-radius: 10px;
}

.img-sanduiche{
    width: 300px;
    height: 70vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.card-sanduiche .img-sanduiche{
    border-radius: 10px;
}

/*******************************************
                 RODAPÉ
*******************************************/

.fa{
    color: #dc3545;
    font-size: 35px;
}

/*******************************************
                 FORMULÁRIO
*******************************************/