body{
    background-color: #000;
}

.nm-hamburgueria{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
}

.dsc-hamburgueria{
    text-align: center;
    color: white;
}

#apr-hamburgueria{
    height: 75vh;
}

.tlt-cardapio{
    text-align: center;
    color: #dc3545;
    font-weight: 500;
    font-size: 2.75em;
    margin-bottom: 3%;
}

.tlt-sanduiche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: #dc3545;
    padding: 0.5%;
    border-radius: 5px;
    height: 2em;
    width: 12em;
}

.fa{
    color: #dc3545;
    font-size: 35px;
}

.cor-da-marca{
    background-color: #dc3545;
    color: white;
}

.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/banner_hamburgueria.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#apr-hamburgueria .hero{
    height: 70vh;
}

.card-sanduiche{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 10px;
}

.img-sanduiche{
    width: 25rem;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.card-sanduiche .img-sanduiche{
    border-radius: 10px;
}